body {
    background: #edeaff; /* Background color for the body */
}

.watch {
    width: 90%; /* Width of the stopwatch container */
    max-width: 600px; /* Maximum width of the stopwatch container */
    background-image: linear-gradient(rgba(197, 172, 194, 0.554),rgba(138, 129, 129, 0.8)), url(images/watch.jpg); /* Background image with gradient overlay */
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Position the background image at the center */
    text-align: center; /* Align text in the center */
    padding: 40px 0; /* Padding for top and bottom */
    color: #fff; /* Text color */
    margin: 200px auto 0; /* Margin for centering vertically */
    box-shadow: 0 10px 10px rgba(0,0,0,0.2); /* Box shadow for the stopwatch container */
}

.watch h1 {
    margin-top: 60px; /* Top margin for the title */
    font-size: 64px; /* Font size of the title */
    font-weight: 300; /* Font weight of the title */
}

.buttons {
    display: flex; /* Use flexbox for button alignment */
    align-items: center; /* Align buttons vertically */
    justify-content: center; /* Align buttons horizontally */
}

.buttons img {
    width: 50px; /* Width of the buttons */
    margin: 0 20px; /* Margin around the buttons */
    cursor: pointer; /* Cursor style for buttons */
}

.buttons img:nth-child(2) {
    width: 80px; /* Width of the second button */
}
